body {
    margin: 60px auto;
    width: 70%;
}

.navigation{
  margin-bottom: 120px;
}

nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    margin-bottom: 100px;
    font-family: "Roboto", "Helvetica", "Sans-Serif";
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

a.headerfooter{
  color: #808080;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: thin;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
  margin-top: 30px;
}

nav ul li:hover {
    /*text-decoration: underline;*/
}
a {
    text-decoration: none;
    color: #292929;
    font-weight: bold;
}


a:hover{
  color:#1ac7ae;
}

a.listing-title:hover{
  color:#ffffff;
}

.headercolumnleft {
	float: left;
  padding: 10px;
	width: 25%;
}

.headercolumnright {
	float: left;
  padding: 10px;
	width: 75%;
}

/* Clear floats after the columns */
.headerrow:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif'; 
    /*font-family: "Roboto", "Helvetica", "Arial", sans-serif;*/
    font-weight: 700;
    color: #292929;
}

.blurb {
    /*font-family: "Roboto", "Helvetica", "Sans-Serif";*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #4f4f4f;
    font-size: 1.0em;
 }

p {
    line-height: 1.0em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin-top: 200px;
}

/* stack gallery grid on mobile */

 @media only screen and (max-width: 640px) {
	.grid-container {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-gap: 1em;
	  margin-top: 100px;
	}
 }

img {
  width: 100%;
  height: auto;
}

.location-listing {
  position: relative;
  overflow: hidden;
}
 
.listing-title {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(50,50,50,0.4);
  
  /* typographic styles */
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
   
  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* hide the title by default */
  opacity: 0;
  transition: opacity .5s;
}

.location-listing:hover .listing-title {
  opacity: 1;
}

.listing-image {
  object-fit: cover;
  line-height: 0;
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.listing-image img.rotate {
transform: rotate(90deg);
}

.listing-image img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  margin-left: -200px; 
	  
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}
 
.listing-image img.portrait {
 
  width: 100%;
   height: auto;
  top: 50%;                         /* 3 */
   transform: translate(0, -50%);   /* 4 */
}




.location-listing:hover .listing-image img {
  filter: blur(2px);
}

/* for touch screen devices */
@media (hover: none) { 
  .listing-title {
    opacity: 1;
  }
  .listing-image img {
    /* filter: blur(2px); */
  }
}

