body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    font-family: "Roboto", "Helvetica", "Sans-Serif";
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
  margin-top: 30px;
}

nav ul li:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #707070;
    font-family: "Roboto", "Helvetica", "Arial", "Sans-Serif";
    font-weight: bold;
}
/*a:hover {
    text-decoration: underline;
}*/
h1 {
    font-size: 4em;
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    font-family: "Roboto", "Helvetica", "Arial", "Sans-Serif";
    font-weight: 700;
}

.blurb {
    font-family: "Roboto", "Helvetica", "Sans-Serif";
}

h2 {
    font-size: 2.25em;
    line-height: 0.5em;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto", "Helvetica", "Arial", "Sans-Serif";
}

p {
    font-size: 1.9em;
    line-height: 1.0em;
    color: #000000;
    font-weight: medium;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin-top: 100px;
}

img {
  width: 100%;
  height: auto;
}

.location-listing {
  position: relative;
  overflow: hidden;
}
 
.location-title {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,128,128,0.4);
  
  /* typographic styles */
  color: white;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
   
  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* hide the title by default */
  opacity: 0;
  transition: opacity .5s;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-image {
  line-height: 0;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}
 
.location-listing:hover .location-image img {
  filter: blur(2px);
}

/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    /* filter: blur(2px); */
  }
}
